* {
  font-family: "Russo One", Arial, sans-serif;
  margin: 0;
  padding: 0;
  --background-color: #000;
  --accent-color: #e6e1e1;
  --secondary-color: #5e5e5e;
  --text-color: #7e7e7e;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

img.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  object-fit: cover;
}

nav {
  position: sticky;
  top:0;
  left: 0;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  border-bottom: 2px solid #a19f9f33;
  width: 100vw;
  backdrop-filter: blur(4px);
  z-index: 999;
}

nav div.logo {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: bolder;
  align-self: center;
  padding-left: 30px;
  height: 50px;
}

nav div.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

nav div.navelement a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

img.logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: 0.2s ease-out all;
  border: 4px solid transparent;
}

img.logo:hover {
  border: 4px solid var(--accent-color);
}

a.logo {
  align-self: center;
}

main {
  min-height: 100vh;
  width: min(1200px, 90vw);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.header {
  color: var(--accent-color);
  font-size: 2.5rem;
  width: min(1200px, 90vw);
  margin-top: 50px;
}

p.subheader {
  color: var(--text-color);
  font-size: 1.5rem;
  width: min(1200px, 90vw);
}

p.description {
  color: var(--text-color);
  font-size: 1rem;
  width: min(1200px, 90vw);
  margin: 10px;
}

div.row-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

div.row-2 div {
  background: #ffffff10;
  border-radius: 32px;
  border: 2px solid var(--secondary-color);
  backdrop-filter: blur(2px);
  padding: 40px;
}

p.block-header {
  color: var(--accent-color);
  font-size: 2rem;
}

p.block-text, ul.block-text{
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 10px;
}

b {
  color: var(--accent-color);
  white-space: nowrap;
}

img.stack {
  width: 20px;
  height: 20px;
  transform: translateY(4px);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  backdrop-filter: blur(4px);
  border-top: 2px solid #a19f9f33;
  height: 50px;
  gap: 100px;
}

div.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.project {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: min(1200px, 90vw);
  padding: 20px;
  margin: 5px;
}

div.content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

div.project div.content div.preview, div.project div.content div.description {
  background: #ffffff10;
  border-radius: 32px;
  border: 2px solid var(--secondary-color);
  backdrop-filter: blur(2px);
  padding: 20px;
}

div.preview {
  width: 450px;
  aspect-ratio: 1000/600;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.project div.content div.preview img {
  aspect-ratio: 1000/600;
  border-radius: 32px;
  width: 400px;
  transition: 0.2s ease-out transform;
}

div.project div.description {
  color: var(--text-color);
}

div.project:hover div.content div.preview img {
  transform: scale(1.05);
}

a.anim-header {
  position: relative;
  transition: 0.2s ease-out all;
}

a.anim-header.active {
  color: var(--accent-color);
}

a.anim-header:hover {
  color: var(--accent-color);
}

a.anim-header:before {
  content: "";
  border-radius: 8px;
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-out all;
  transform: scaleX(0);
  background: var(--accent-color);
}

a.anim-header:hover:before {
  transform: scaleX(1);
}

a.anim-secondary {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: bolder;
  position: relative;
  transition: 0.2s ease-out all;
}

a.anim-secondary:hover {
  color: var(--accent-color);
}

a.anim-secondary:before {
  content: "";
  border-radius: 8px;
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-out all;
  transform: scaleX(0);
  background: var(--accent-color);
}

a.anim-secondary:hover:before {
  transform: scaleX(1);
}

@media (max-width: 1000px){
  nav {
    grid-template-columns: 1fr;
  }

  nav div.logo {
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
  }

  nav div.center, img.logo {
    display: none;
  }

  div.row-2, div.content {
    grid-template-columns: 1fr;
  }

  div.preview img {
    width: 100%;
  }
}
